#navbar {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 100;
  box-shadow: 0 10px 30px #111;
}

#navItems {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#links {
  color: white;
  text-decoration: none;
}
